.contact-container {
	height: 100vh;
}
.contact-container .text-zone {
	height: auto;
}
.contact-container .text-zone h1 {
	font-size: 53px;
	font-weight: 650;
	color: #794028;
}
.contact-container .text-zone p {
	font-size: 20px;
}
.contact-container .text-zone p,
.text-zone h1 {
	animation: fadeInTopLeft 2s ease-in-out;
}

.contact-container .text-zone textarea,
.text-zone input {
	border: 2px solid #794028;
	box-shadow: #794028 4px 4px 0 0;
	font-weight: bold;
	font-size: 15px;
	height: auto;
}
.contact-container .text-zone input {
	height: auto;
}
.contact-container .contact-form form > :nth-child(1) {
	animation: slideInLeft 2s ease-in-out;
}
.contact-container .contact-form form > :nth-child(2) {
	animation: slideInLeft 2.5s ease-in-out;
}
.contact-container .contact-form form > :nth-child(3) {
	animation: slideInLeft 2.6s ease-in-out;
}
.contact-container .contact-form form > :nth-child(4) {
	animation: slideInLeft 2.7s ease-in-out;
}
.contact-container .contact-form form > :nth-child(5) {
	animation: slideInLeft 2.8s ease-in-out;
}

.map-container .map {
	transform: rotate(23deg) translate(220px, -30px) skew(-45deg, -4deg);
	animation: zoomInDown 2s ease-in;
	position: relative;
}
.map-container {
	position: relative;
	animation: bounce 3s linear infinite;
}
@keyframes bounce {
	0% {
		transform: translate(10px, 10px);
	}
	50% {
		transform: translate(10px, 30px);
	}
	100% {
		transform: translate(10px, 10px);
	}
}

.contact-container .map-pin {
	position: absolute;
	width: 100px;
	animation: pinner 2.5s linear infinite;
}
@keyframes pinner {
	0% {
		transform: translate(0px, 90px);
	}
	50% {
		transform: translate(0px, 60px);
	}
	100% {
		transform: translate(0px, 90px);
	}
}

@media (max-width: 576px) {

	.contact-container {
		position: fixed;
		
	}
	.contact-container .text-zone {
		padding: 0 20px 0 80px;
	}
	.contact-container .text-zone h1{
		font-size: 40px;
	}
	.contact-btn {
		min-width: 120px;
		padding: 0 25px;
	}
}
@media (min-width: 576px) {
	.contact-container {
		padding-left: 50px;
		
	}
	.contact-btn {
		min-width: 120px;
		padding: 0 25px;
	}
	.map-container img {
		display: none;
	}
	
}

@media (min-width: 992px) {
	.map-container img {
		display: block;
	}
	.contact-container .map-pin{
		position: absolute;
		bottom: 170px;
		right: 150px;
	}
	
}
